.header__login{
    display: block;
    position: absolute;
    left: calc(50% - 1.1rem);
    top: 1rem;
}

.header__login-button {
    border: 1px solid var(--primary-color);
    padding: 0.5rem 2.2rem;
    background-color: var(--contrast-ligth-color);
    color: var(--primary-color);
}

@media screen and (min-width:768px) {
    .header__login{
        position: static;
    }
    .header__login-button {
        padding: 0.5rem 4.19rem;
    }
}

@media screen and (min-width:1024px) {
    
}