.header{
    padding: 1rem;
}

@media screen and (min-width:768px) {
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;   
        padding: 1rem 2rem;
        align-self: stretch;
    }
    
}

@media screen and (min-width:1024px) {
    .header{
        display: flex;
        width: 71rem;
        padding: 2rem 0;
        margin: 0 auto;
    }
}