.banner__description{
    display: flex;
    height: 12rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
   
}

@media screen and (min-width:768px) {
    .banner__description{
        height: 22rem;
        padding: 2rem;
    }
}

@media screen and (min-width:1024px) {
    .banner__description{
        width: 71rem;
    }
}