.newform__input{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--contrast-ligth-color);
}

.newform__input-label{
    color: var(--contrast-dark-color);
    font-family: var(--fuente_principal);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.newform__input-input{
    display: flex;
    align-self: stretch;
    padding-top: 8px;
    border: 0;
    outline: none !important;

    color: var(--color_letras-H2);
    font-family: var(--fuente_principal);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.newform__input-textarea {
    display: flex;
    align-self: stretch;
    border: 0;
    outline: none !important;
    resize: none !important;
    color: var(--color_letras-H2);
    font-family: var(--fuente_principal);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}